@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #000;
    padding: 20px 50px;
}
.header_logo{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.header_tel a{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    
}
.navbar{
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav_logo{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.nav_logo ul{
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    list-style: none;

}
.nav_logo ul li a{
    text-decoration: none;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #000000;
margin-left: 20px;

}
.nav_icon svg{
    margin-left: 10px;
}
.nav_menu{
    display: none;
}.nav_active{
    opacity: 1 !important;
    pointer-events: all !important;
}
@media(max-width: 480px){
    .nav_logo ul{
       display: block;
       position: absolute;
       top: 150px;
       left: 0;
       background: #000;
       width: 100%;
       pointer-events: none;
       opacity: 0;
       transition: .3s ease-in-out;
    }
    .nav_logo ul li{
       text-align: center;
    }
    .nav_logo ul li a{
       color: #fff;
    }
   
    .nav_icon{
       display: none;
    }
    .navbar{
       padding: 20px 20px;
    }
    .nav_menu{
       display: block;
    }
   }